<div id="background-photo">
  <div class="back-picture">
    <%= image_tag('backg_2.png') %>
  </div> 
</div>


<div class= "gen-container">
<div class="page-section flexbox vertical stretch">
  <div class="section-inner flexbox vertical stretch">
    <div class="container">
    <div class= "centered">
      <div class="row" >
      <div class="column" style= "border-color: #78a350; border-width: thick; padding: .5em;">
          <div class="section-title flexbox horizontal center">
          <h2>Edit <%= resource_name.to_s.humanize %> Profile</h2>
          </div>
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
              <%= render "devise/shared/error_messages", resource: resource %>
            
              <div class="field">
                <%= f.label :first_name, class: "form-label" %><br />
                <%= f.text_field :first_name %>
              </div>
            
              <div class="field">
                <%= f.label :last_name, class: "form-label" %><br />
                <%= f.text_field :last_name %>
              </div>
            
              <div class="field">
                <%= f.label :phone_number, class: "form-label" %><br />
                <%= f.telephone_field :phone_number %>
              </div>
              
              <div class="field">
                <%= f.label :email, class: "form-label" %><br />
                <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
              </div>
             
              <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
              <% end %>
              
              <div class="field">
                <%= f.label :current_password, class: "form-label" %><br />
                <%= f.password_field :current_password, autocomplete: "current-password" %>
              </div>
            
              <div class="field">
                <% if @minimum_password_length %>
               <em style= "font-size: 13px;"> <%= f.label :new_password, class: "form-label" %> (<%= @minimum_password_length %> characters minimum)</em>
               <% end %>
               <br />
                <%= f.password_field :password, autocomplete: "new-password" %>
              </div>
            
              <div class="field">
                <%= f.label :password_confirmation, class: "form-label" %> <br />
                <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
              </div>
            
            
                <div class="actions">
                 <%= f.submit "Update" %>
              </div>
            <% end %>
            
            <div><%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete %></div>
            <div class= "button">
            <%= link_to "Back", :back %>
          </div>  
             
        </div>
     
    </div>
  </div>
</div>



