<div class="record-row <%= cycle "odd", "even", name: "row-cycler" %> flexbox vertical stretch">
  <%= station.identifier %>: <%= station.name %> (<%= station.address %>)</div>
  <%= station.docked_bikes.count %> bikes </div>
  <%= link_to("Rent a bike at this station", rental_new_path, class: 'action new') %> 
  </div>