<div class="record-row <%= cycle "odd", "even", name: "row-cycler" %> flexbox vertical stretch">
  <%= station.identifier %>: <%= station.name %> (<%= station.address %>) 
  <%= link_to("Rent a bike at this station", new_station_rental_path(station)) %> 
  <%= station.docked_bikes.count %> bikes 
  </div>
  </div>
  </div>