<div class="record-row <%= cycle "odd", "even", name: "row-cycler" %> flexbox vertical stretch"> 
  <ul style= "background-color: #b0d47b; border-radius: 8px;">
  <div style = "left: 20;">
    <%= station.name %> (<%= station.address %>)
  </div>

  <% if station.docked_bikes.count > 0 %>
    <li> 
      <div style = "border-radius: 8px; font-weight: bold;">
        <%= link_to("Rent a bike", new_station_rental_path(station)) %>
      </div>
      <div style = "font-style: italic; color: #58783a">
        <%= station.docked_bikes.count %> bike(s) available
      </div>
    </li>
  </ul>
  <% else %>
    <ul style= "background-color: #bcbcbc;">
    There are currently 0 bikes at this station. Check back later!
    </ul>
  <% end %>

 
</div>
