
<div class= "home-container">

  <div id= "welcome">
    <div class="page-section flexbox vertical stretch" style= "margin-top: 2em; margin-bottom: 2em">
      <div class="section-inner flexbox vertical stretch" style= "margin-right: 5em; margin-left: 5em;">
        <div class="section-title flexbox horizontal center">
          <h1>CiTrust us to get to your destination!</h1>
        </div>
          <p style= "margin-bottom: 2em"> With stations across Amherst, Northampton, Hampshire, and Springfield, perform errands with ease or have fun exploring scenic bike routes!</p>
          <%= link_to('Start Now', map_home_index_path, class: 'button') %>
      </div>
    </div>
  </div>

  <div id= "bikeimg" style= "max-width: 800px; position: static; margin: auto;">
      <%= image_tag('Clemenbykes stock photo.png') %>
  </div>

  <div id="howto">
    <div class="page-section flexbox vertical stretch" style= "margin-top: 5em; margin-bottom:3em" >
      <div class="section-inner flexbox vertical stretch">
        <div class="section-title flexbox horizontal center">
            <h1><b>How It Works</b></h1>
        </div>
        <div class="container" style= "text-align: center;">
              <div class="row">
                <div class="column">
                      <h1>Step 1</h1>
                      <%= image_tag('get code.png')%>
                      <h2> <b>Get Code </b> </h2>
                      <p> After choosing a station and time, simply click "Rent Now" and a unique code will be generated for you!</p>
                </div>
                
                <div class="column">
                    <h1>Step 2</h1>
                    <%= image_tag('kiosk unlock.png')%>
                    <h2><b>Unlock</b></h2>
                    <p> Enter your code at our kiosks located at each station and a bike will unlock!</p>
                </div>
                
                <div class="column">
                    <h1>Step 3</h1>
                    <%= image_tag('ride bike.png')%>
                    <h2><b>Ride</b></h2>
                    <p> Have a sweet time riding!</p>
                </div> 
                <div class="column">
                    <h1>Step 4</h1>
                    <%= image_tag('return bike.png')%>
                    <h2><b>Return</b></h2>
                    <p>At the closest station near you, return the bike and you are all set!</p>
                </div> 
              </div>
            </div>    
        </div>
    </div>
</div>


<div id= "mapdesc">
  <div class="page-section flexbox vertical stretch">
    <div class="section-inner flexbox vertical stretch">
      <div class="section-title flexbox horizontal center">
        <h2 style= "margin-top: 2em">Checkout Our Stations Around the Pioneer Valley!</h2>
      </div>
        <p style= "margin-bottom: 3em;"> Search for a station near your location or click on a station marker below.</p>
    </div>
  </div>
  
</div>



<div id="map"></div>


<%=javascript_include_tag 'map' %>


</div>
