<table class="listing" summary="Rental list" style="width: 90%;">

<tr>
  <td><%= @rental.station_id %></td>
  <td><%= @rental.bike_id %></td>
  <td><%= (@rental.checkout).strftime("%A %d/%m/%Y %I:%M %p")%></td> 
  <%if @rental.return != nil %>
    <td><%= (@rental.return).strftime("%A %d/%m/%Y %I:%M %p")%></td>
    <td><%= @rental.duration %></td>
  <% else %>
    <td class="actions">
        <td><%= @rental.number %></td>
        <%= link_to("Return Bike", edit_rental_path(id: @rental, station_id: @rental.station_id), class: 'action edit') %>
    </td>
  <%end%>
</tr>

</table>