
<div class= "container" style= "border-radius: 25px; background-color: #D7892B ; color: #ffffff; padding: 2em; margin-bottom: 5%;">
  <div class= "row">
    <td> <div class = "bold-brown">Starting Station Name:   </div> <%= @rental.checkout_station.name %></td>
  </div>

  <div class= "row">
    <%if @rental.return != nil %>
      <td> <div class = "bold-brown"> Ending Station Name:   </div> <%= @rental.return_station.name %></td>
    <%end%>
  </div>

  <div class= "row">
    <td> <div class = "bold-brown"> Bike id: </div> <%= @rental.bike_id %></td>
  </div>

  <div class= "row">
    <td> <div class = "bold-brown"> Start Time: </div><%= (@rental.checkout).strftime("%A %m/%d/%Y %I:%M %p")%></td>
  </div>

  <div class= "row">
    <td> <div class = "bold-brown"> Rental Code: </div> <%= @rental.number %></td>
  </div>
    
   <%if @rental.return != nil %>
    <div class= "row">
        <td> <div class = "bold-brown"> End time: </div><%= (@rental.return).strftime("%A %m/%d/%Y %I:%M %p")%></td>
    </div>

    <div class= "row">
      <td> <div class = "bold-brown"> Rental Duration: </div> <%= @rental.duration %> minutes </td>
    </div>  

    <div class= "row">
      <td> <div class = "bold-brown"> Ride Cost: </div> $<%= number_with_precision(@rental.cost, precision: 2) %></td>
    </div>

    <% else %>
      <td class="actions">
        <div class= "button" style= "padding: 1em; justify-content: center; margin-top:2em; margin-right:3em; margin-left:3em;">
          <td><%= link_to("Return Bike", edit_rental_path(id: @rental, station_id: @rental.checkout_station.id), class: 'action edit') %></td>
        </div>
      </td>
    <%end%> 
</div>