<div>
  <h1 class="font-bold text-4xl">Your Rentals</h1>
  <p>Find me in app/views/rental/index.html.erb</p>
</div>

  <h2>Your rentals</h2>

  <%= render(partial: "rentals/table_header") %>


  <table class="listing" summary="Rental list" style="width: 100%;">

    <% @rentals.each do |rental| %>
    <tr>
      <td><%= rental.station_id %></td>
      <td><%= rental.bike_id %></td>
      <td><%= (rental.checkout).strftime("%A %d/%m/%Y %I:%M %p")%></td> 
      <%if rental.return != nil %>
        <td><%= (rental.return).strftime("%A %d/%m/%Y %I:%M %p")%></td>
        <td><%= rental.duration %></td>
      <% else %>
        <td class="actions">
            <td><%= rental.number %></td>
            <%= link_to("Return Bike", edit_rental_path(id: rental, station_id: rental.station_id), class: 'action edit') %></td>
      <%end%>
    </tr>
    <% end %>
  </table>
</div>