<div class= "gen-container">
<div id= "general">
<div class="page-section flexbox vertical stretch">
        <div class="section-inner flexbox vertical stretch">
            <div class="section-title flexbox horizontal center" style = "text-align: center">
    <div class="rental new">
  <h2>Create New Bike Rental</h2>
  Station ID: <%=@rental.station_id%>
  Station Name: <%=@station.name%>
  Station Address: <%=@station.address%>
  </div> 
  </div>
  </div>
  </div>
  <%= form_for (@rental), url: {action: "create"}, html: {class: "nifty_form"} do |form| %>
    
    <div class="form-buttons">
      <%= form.submit "Rent now!" %>
    </div>

  <% end %>
</div>
</div>
</div>
    

