<div>
  <h1 class="font-bold text-4xl">Payment#new</h1>
</div>

<%= form_for [@user, @payment] do |form| %>
    <%= form.text_field :first_name %>
    <%= form.text_field :last_name %>
    <%= form.text_field :card_number %>
    <%= form.number_field :cvv %>
    <%= form.number_field :exp_month %>
    <%= form.number_field :exp_year %>
    <%= form.submit %>
<% end %>
  